{% extends "base.html" %}
{% block title %}
    Create - P2P Recipes
{% endblock title %}
{% block content %}
    <main>
        <center>
            <h1>Peer 2 Peer Recipes</h1>
            <h2>Recipes you have to C to believe</h2>
            <div class="form-grid">
                <form method="post">
                    {% csrf_token %}
                    {{ recipe_form.as_p }}
                    <button type="submit">Create</button>
                </form>
            </div>
        </center>
    </main>
{% endblock content %}
