{% extends "base.html" %}
{% block title %}
    {{ recipe_object.title }} - P2P Recipes
{% endblock title %}
{% block content %}
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}" width="200" height="200">
        <div>Author: {{ recipe_object.author }}</div>
        <div>Created on: {{ recipe_object.created_on|date:"F j, Y" }}</div>
        <div>Rating: {{ recipe_object.rating }}</div>
        {% if user.get_username and user == recipe_object.author %}
            <div>
                <a href="{% url 'edit_recipe' recipe_object.id %}">
                    <button class="button" type="link">EDIT</button>
                </a>
            </div>
        {% endif %}
        <p>{{ recipe_object.description }}</p>
        <h2>Required Food Files</h2>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food File</th>
                </tr>
            </thead>
            <tbody class="ingredients-table">
                {% for item in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.food_item }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
        <h2>Order of Operations</h2>
        <ol>
            {% for step in recipe_object.recipe_steps.all %}<li>{{ step.instruction }}</li>{% endfor %}
        </ol>
    </main>
{% endblock content %}
