{% extends "base.html" %}
{% block title %}
    Recipes - P2P Recipes
{% endblock title %}
{% block content %}
    <main>
        <center>
            <h1>Peer 2 Peer Recipes</h1>
            <h2>Recipes you have to C to believe</h2>
        </center>
        <div class="recipes">
            {% for recipe in recipe_list %}
                {% comment %} <div style="background-color:{% cycle '' '' 'yellow' %}"> {% endcomment %}
                <div>
                    <h3>
                        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                    </h3>
                    <a href="{% url 'show_recipe' recipe.id %}">
                        <img src="{{ recipe.picture }}"
                             class="list_picture"
                             width="200"
                             height="200">
                    </a>
                    <div>{{ recipe.rating }} - {{ recipe.created_on|date:"M j, Y" }}</div>
                </div>
            {% empty %}
                <p>
                    There are no recipes!
                    <br>
                    You should <a href="{% url 'create_recipe' %}">CREATE</a> some!
                </p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
