@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Hina+Mincho&display=swap');

* {box-sizing: border-box;}

html {
    background-color: #fcf0e2;
    min-height: 100vh
}

nav {
    border-bottom:1px solid black;
    padding: 16px;
    background-color: #c65451;
}

.nav-bar {
    display: flex;
    justify-content: center;
    gap:2em;
}

.form-grid p {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.form-grid p textarea {
    width: 170px;
    height: 100px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.356);
}

.form-grid p input {
    width: 170px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.356);
}

.form-grid button {
    background-color: 0;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.356);
    font-family: 'farsan';
}

.form-grid label {
    text-transform: capitalize;
}

.button {
    background-color: 0;
    font-family: 'farsan';
}

body {
    padding:0%;
    padding-bottom:0%;
    margin: 0%;
    font-family: 'Hina Mincho';
    color: #5f574d;
}

main {
    padding: 16px;
    margin-bottom: 1em;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }

main img {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
    border: #026253;
    border-radius: 20%;
}

#content-wrap {
    padding-bottom: 2.5rem;
  }

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 2em;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

.list_picture:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s ease;
}

@media (width < 1000px) {
    .recipes {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 2em;
    }
}

@media (width < 750px) {
    .recipes {
        grid-template-columns: 1fr 1fr;
        row-gap: 2em;
    }
}

@media (width < 500px) {
    .recipes {
        grid-template-columns: 1fr;
        row-gap: 2em;
    }
}

.previews {
    height: 200px; width: 200px; overflow: hidden;
}

tbody:nth-child(odd) {
    background-color: lightgray;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
    font-size: 1.25em;
    background-color: #44523b;
    color: #ffffff;
}

h1, h2, h3 {
    color: #026253;
    font-family: 'farsan';
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.144);
}


nav a:link {
    color:#fcf0e2;
}

nav a:visited {
    color:#fcf0e2;
}

nav a:active {
    color:#fcf0e2;
}

nav a:hover {
    color:#fcf0e2;
}

a:link {
    text-decoration: none;
    color:#5f574d;
}
a:visited {
    text-decoration: none;
    color:#796e62;
}
a:hover {
    text-decoration: none;
    color: #5f574d;
}
a:active {
    text-decoration: none;
    color:#746a5f;
}

.error-page {
    height: 100vw;
    background-color: #bbbdaf;
}
