{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "recipes.css" %}">
    </head>
    <body>
        <div id="page-container">
            <header>
                <nav class="nav-bar">
                    <a href="{% url 'home_page' %}">Main page</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'create_recipe' %}">Create</a>
                        <a href="{% url 'my_recipe_list' %}">My Recipes</a>
                    {% endif %}
                    <a href="https://www.instagram.com" target="_blank">Instagram</a>
                    <a href="https://www.reddit.com" target="_blank">Reddit</a>
                    <a href="https://www.hackreactor.com" target="_blank">HackReactor</a>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'user_signup' %}">SIGNUP</a>
                        <a href="{% url 'user_login' %}">LOGIN</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a href="{% url 'user_logout' %}">LOGOUT</a>
                    {% endif %}
                </nav>
            </header>
            <div id="content-wrap">
                {% block content %}
                {% endblock content %}
            </div>
            <footer>
                <s>Cooked</s> Coded with love by ©Peer2Peer Recipes
            </footer>
        </div>
    </body>
</html>
